<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Tasik Star Center Electronics</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about1.jpg" style="width: 200px; height: 160px;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Profil</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tasik Star Center Electronics adalah toko retail elektronik yang menyediakan perlengkapan elektronik, laptop dan handphone, berdiri sejak tahun 2010 beralamat di Jl. Prabu Geusan Ulun No. 132 Sumedang, Jawa Barat. 
                                        Menjual produk elektronik yang bergaransi resmi, berkualitas tinggi, dengan harga yang bersaing. Pelayanan dan Servis yang baik kepada konsumen adalah prioritas kami dalam menjalankan bisnis. 
                                        Tagline “Yang Ada Bintangnya” lahir dari komitmen kami untuk memberi pengalaman terbaik dan kenyamanan berbelanja elektronik. Karenanya, Bintang merupakan simbol kualitas yang dipercaya dalam setiap pelayanan.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about2.jpg" alt="" style="width: 200px; height: 160px;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Produk</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Menyediakan perlengkapan elektronik serta kebutuhan rumah tangga yang bergaransi dan original dari berbagai merk mulai dari Display Panel, Home Audio, Home Appliances, Air Conditioner, Refrigerator & Freezer, Washer & Dryers, Kitchen Appliances, Smart Phones, Computer, Digital Imaging, Office Equipment, Personal Care, dan Recording Media & Energy.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about3.jpg" alt="" style="width: 200px; height: 160px;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Penawaran Terbaik</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Menghadirkan berbagai penawaran istimewa yang membuat belanja jadi semakin mudah dan menguntungkan. 
                                        Mulai dari promo bulanan hingga diskon spesial, semua kami hadirkan agar pelanggan bisa mendapatkan produk impian dengan harga terbaik. Tidak hanya itu, Tasik Star Center juga dikenal sebagai toko yang ramah nego. 
                                        Untuk kemudahan pembayaran, kami menyediakan layanan kredit tanpa DP, proses mudah dengan tenor fleksibel. Pembelian perlengkapan elektronik kami pastikan pelanggan mendapatkan pelayanan yang prima, transparan, aman, dan profesional. </p>
                                </div>
                            </div>
                        </li>                        
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>