<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Kami hadir sebagai destinasi utama bagi Anda yang mencari produk elektronik berkualitas, dengan pelayanan ramah, pilihan produk lengkap, serta jaminan purna jual yang terpercaya. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">TOKO</h4>
                    <p class="text-muted">Toko Offline : 

                        Tasik Star Center, Jl. Prabu Geusan Ulun No. 132, Regol Wetan, Kec. Sumedang Selatan, Kab. Sumedang, Jawa Barat 45311, Indonesia 
                        
                         
                        
                        Toko Online : 
                        
                        Tokopedia : Putra Jaya Center 
                        
                        Shopee : Tasikstarcenter11</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">GARANSI</h4>
                    <p class="text-muted">Menyediakan garansi toko 7 hari dan garansi brand sampai 13 tahun </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SERVIS </h4>
                    <p class="text-muted">Menyediakan servis untuk semua jenis elektronik.</p>
                </div>
            </div>
        </div>
    </section>